:root {
    --back-body: linear-gradient(150deg, #d0ad5ce1, #d0ad5ce1, #d0ad5ce1);
    --back-hd: linear-gradient(125deg, rgba(211,189,136,1) 0%, rgba(219,192,127,1) 35%, rgba(222,189,109,1) 65%, rgba(214,173,74,1) 100%);
    --back-nav: #ecd49c;
    --back-main: linear-gradient(125deg, rgba(211,189,136,1) 0%, rgba(219,192,127,1) 35%, rgba(222,189,109,1) 65%, rgba(214,173,74,1) 100%);
    --back-section: linear-gradient(125deg, rgba(211,189,136,1) 0%, rgba(219,192,127,1) 35%, rgba(222,189,109,1) 65%, rgba(214,173,74,1) 100%);
    --back-ft: linear-gradient(125deg, rgba(211,189,136,1) 0%, rgba(219,192,127,1) 35%, rgba(222,189,109,1) 65%, rgba(214,173,74,1) 100%);
    --border-scroll: 10px solid #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

* {
    scrollbar-width: 12px;
    scrollbar-color: var(--back-scroll);
    
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: var(--border-scroll);
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    background: var(--back-body);
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unidade {
    display: none;
}

.ocultar 

.container {
    position: relative;
}

.elemento-fixado {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.inicial__hd, .inicial__nv, .inicial__as, .inicial__mn, .inicial__ft {
    display: flex;
    margin: 3px;
    color: #000000;
}

.inicial__hd {
    background: var(--back-hd);
    flex: 1 1 100vw;
    height: 100%;
}

.inicial__hd #logo {
    flex: 0 1 100px;
    margin-left: 5px;
    padding: 1vh;
}

#open__menu, #close__menu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

.inicial__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inicial__menu a {
    margin: 1.5%;
    font-size: 1.6rem;
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.inicial__menu a:hover {
    font-size: 1.7rem;
    text-decoration: none;
    color: #000000;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 11px 9px 13px rgba(206,174,130,0);
}

.inicial__nv {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}

.inicial__nv .link__ {
    margin: 1%;
    font-size: 1.7rem;
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
}

a {
    font-variant: small-caps;
}

.inicial__nv .link__:hover {
    font-size: 1.75rem;
    text-decoration: none;
    color: #000000;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 11px 9px 13px rgba(206,174,130,0);
}

.inicial__nv .link__ {
    text-align: center;
}

.inicial__mn {
    flex: 20 1 500px;
    height: calc(100vh - 178px);
    flex-wrap: wrap;
    overflow: auto;
    background: var(--back-main);
}

.inicial__mn section {
    width: 100%;
    height: auto;
    margin: 10px;
    background: var(--back-section);
}

.titulo__h5 {
    padding-bottom: 2vh;
    font-size: 2rem;
    font-variant: small-caps;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo_h6 {
    color: black;
    text-shadow: 0 0 2px white;
    border-bottom: 2px solid #375070;
    font-variant: small-caps;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicial__ft {
    flex: 1 1 100vw;
    height: 90px;
    color: #000000;
    background: var(--back-ft);
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
}

.label__ {
    color: black;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 9.5rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0 0.3rem 0.8rem 0.3rem;
    padding: 0;
}

.input__ {
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 9.5rem;
    height: 3rem;
    margin: 0 0.3rem 0.8rem 0.3rem;
    padding: 0;
}

.select__ {
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 9.5rem;
    height: 3rem;
    margin: 0 0.3rem 0.8rem 0.3rem;
    padding: 0;
}

.option__ {
    color: white;
    background-color: #375070;
}

.estilo__alerta {
    color: #c30d0deb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.estilo__detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estilo__detalhes img  {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%; /* Define a largura máxima da imagem */
    max-height: 60rem; /* Define a altura máxima da imagem */
}

.estilo__carregando {
    margin: 2rem;
    display: none;
}

.btt__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao__ {
    border-radius: 10px;
    color: white;
    background-color: #375070;
    margin: 1rem 0.3rem 1rem 0.3rem;
    width: 6rem;
    height: 2rem;
}

#open__menu, #close__menu {
    display: block;
}

#open__menu {
    margin-left: auto;
    position: fixed;
    right: 15px;
    top: 15px;
    background: var(--back-hd);
}

#close__menu {
    position: fixed;
    right: 15px;
    top: 15px;
    background: var(--back-nav);
}

.inicial__nv {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--back-nav);
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: 0.3s;
}

@media only screen and (max-width: 923px) {
    .inicial__nv a {
        font-size: 2rem;
    }
    
    .inicial__hd {
        order: 0;
    }
    
    .inicial__mn {
        height: calc(100vh - 174px);
        order: 1;
    }

    @media screen and (orientation: landscape) {
    /* Estilos específicos para orientação paisagem */
    .inicial__hd, .inicial__as, .inicial__ft {
        display: none;
    }

    main, .inicial__mn {
        margin: 0;
        padding: 0;
        overflow: none;
        height: 100vh;
    }
    .estilo__detalhes {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
  }
}